html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content-container {
    max-width: 100%; /* Растягиваем по ширине окна */
    margin: 0 auto; /* Центрируем контейнер */
}

.table-style {
    width: 100%; /* Растягиваем таблицу по ширине контейнера */
    margin-bottom: 20px; /* Добавляем отступ снизу */
    /* Добавляем рамку ко всем ячейкам и заголовкам таблицы */
    border-collapse: collapse; /* Объединяем границы ячеек */
}

    .table-style th, .table-style td {
        border: 1px solid #ddd; /* Добавляем тонкую серую рамку */
        padding: 8px; /* Добавляем отступ внутри ячеек */
    }

.inactive-row {
    background-color: #ccffcc;
}