@model PracticeWeb.Classes.LocalClasses.UserForSystemClass

@{
    Layout = "_LayoutAdmin";
}

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>UserForSystemClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (TempData["DanderMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["DanderMessage"]
            </div>
        }
        <form asp-action="EditSave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" class="form-control" />
            
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control">
                    <option value="Покупатель">Покупатель</option>
                    <option value="Администратор магазина">Администратор магазина</option>
                    <option value="Системный администратор">Системный администратор</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@