
@model PracticeWeb.Classes.LocalClasses.LocalUser

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link type="text/css" href="~/css/Login.css" rel="stylesheet" />

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
<link rel="stylesheet" href="~/KeyNastle.styles.css" asp-append-version="true" />

<div class="container">
	<div class="row">

		<div class="col-md-offset-3 col-md-6">
			<form class="form-horizontal" asp-action="Registration" asp-controller="Identification">
				<span class="heading">Регистрация</span>
				<div class="form-group">
					<input type="text" class="form-control" id="inputLogin" placeholder="Логин" asp-for="Login">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="inputNickName" placeholder="Имя профиля" asp-for="NickName">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group help">
					<input type="password" class="form-control" id="inputPassword" placeholder="Пароль" asp-for="Password">
					<i class="fa fa-lock"></i>
				</div>
				<div class="form-group help">
					<input type="password" class="form-control" id="inputRepeatPassword" placeholder="Повтор пароля" asp-for="RepeatPassword">
					<i class="fa fa-lock"></i>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default">Регистрация</button>
				</div>
			</form>
		</div>

	</div><!-- /.row -->
</div><!-- /.container -->
@if (TempData["DanderMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["DanderMessage"]
	</div>
}